<div
  class="outer-container"
  ngxExplorerDndContainer
  (dragInProgress)="dragInProgress($event)"
  (selectedElementsChange)="selectedElementsChange($event)"
  [selectionAllowed]="!isDragInProgress"
  badge="3"
  ngxDragSelection
  [selectionDivElement]="myElement"
  (drop)="drop($event)"
>
  <app-file
    ngxExplorerDndElement
    [dndElementData]="item"
    *ngFor="let item of files"
  >
  </app-file>
  <app-folder
    ngxExplorerDndElement
    ngxExplorerDndTarget
    [dndTargetData]="item"
    *ngFor="let item of directories"
  ></app-folder>
</div>
