<div
  class="outer-container"
  ngxExplorerDndContainer
  (dragInProgress)="dragInProgress($event)"
  (selectedElementsChange)="selectedElementsChange($event)"
  [selectionAllowed]="!isDragInProgress"
  [sortingEnabled]="true"
  ngxDragSelection
  [selectionDivElement]="myElement"
  (drop)="drop($event)"
  style="position: relative"
>
  <app-file
    ngxExplorerDndElement
    [dndElementData]="item"
    *ngFor="let item of files"
    [fileName]="item"
  >
  </app-file>
  <app-folder
    ngxExplorerDndElement
    ngxExplorerDndTarget
    [dndTargetData]="item"
    *ngFor="let item of directories"
  ></app-folder>
</div>
